<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Password form</title>
</head>

<body style="width: 100%;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-bottom: 1mm ridge rgba(116, 116, 116, 0.6);">
        <div class="container-fluid">
            <img src="/logo.png" style="width: 8%; margin-top: 7px;" class="avatar" alt="user profile picture">
            <a style="letter-spacing: 2px; margin-left: 25px; font-weight: 600;" class="navbar-brand col"
                href="/home">Attività Manutenzione</a>
        </div>
    </nav>
    <div id="alertBox" class="container"
        style="display: flex; height: calc(100vh - 100px); align-items: center; flex-direction: column; justify-content: center;">
        <div class="card mx-auto form-card">
            <div class="card-body">
                <form action="/auth/changePassword/upload" method="POST">
                    <h4 class="mb-4">Cambia password</h4>
                    <div class="mb-4">
                        <label for="firstPassword" class="form-label">Nuova password</label>
                        <input type="Password" class="form-control" id="firstPassword" name="firstPassword">
                    </div>
                    <div class="mb-4">
                        <label for="secondPassword" class="form-label">Ripeti nuova password</label>
                        <input type="Password" class="form-control" id="secondPassword" name="secondPassword">
                    </div>
                    <button type="submit" class="btn btn-primary">Invia</button>
                </form>
            </div>
        </div>
        <% if (message) { %>
            <div>
                <h5 class="alert alert-danger mt-4 form-card">
                    <%= message %>
                </h5>
            </div>
            <% } %>
    </div>
</body>

</html>